@import url('https://fonts.googleapis.com/css?family=Cabin:700|Lato:700|Montserrat:700|Open+Sans:700&display=swap');


body {
  margin: 0;
  /*font-family: 'Lato', sans-serif;*/
  font-family: 'Montserrat', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url("assets/large-area-bk.PNG") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}